header{
    width:450px ;
    margin: 20px auto; /*center alignment alignment*/
    
}

main {
    font-family: 'Bruno Ace SC', cursive;
    width: 450px;
    border: 2px solid red;
    border-radius: 10%;
    margin: 20px auto; 
    padding: 20px 10px;
  /* margin-top: 20px;
   margin-left: 10px; center alignment */
   
}
.small-label {
    font-size: 0.6rem;
}

.card {

    max-width: 350px;
    font-size: 1em;
    border: 2px solid red;
    border-radius: 10%;
    box-sizing: border-box;
    margin: 20px auto; 
    padding: 20px 10px
}

.card-container.hidden {
    display: none;
  }
  
  .hidden {
    display: none;
  }

/*   .card-font{
    
  } */

  strong {
    font-family: 'Bruno Ace SC', cursive;

  }